@model IEnumerable<Application.DTOs.Reservations.GetReservationDTO>

<h1>Reservations</h1>
<a asp-action="GetUserReturnedReservations">Active reservations</a>
@if (Model.Any())
{
	<table>
		<thead>
			<tr>
				<th>
					Id
				</th>
				<th>
					BookId
				</th>
				<th>
					Reserved At
				</th>
				<th>
					Ended At
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var reservation in Model)
			{
				<tr>
					<td>
						@reservation.Id
					</td>
					<td>
						@reservation.BookId
					</td>
					<td>
						@reservation.ReservedAt
					</td>
					<td>
						@reservation.EndsAt
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<h3>No reservations is found</h3>
}
