@model Application.DTOs.Authors.UpdateAuthorDTO

<h1>Update Author</h1>
<form asp-action="UpdateAuthor" method="post">
	<div class="form-group">
		<label asp-for="Id"></label>
		<input asp-for="Id" class="form-control" />
		<span asp-validation-for="Id" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="FirstName"></label>
		<input asp-for="FirstName" class="form-control" />
		<span asp-validation-for="FirstName" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Surname"></label>
		<input asp-for="Surname" class="form-control" />
		<span asp-validation-for="Surname" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="MiddleName"></label>
		<input asp-for="MiddleName" class="form-control" required="false" />
		<span asp-validation-for="MiddleName" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Age"></label>
		<input asp-for="Age" class="form-control" />
		<span asp-validation-for="Age" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Update Author</button>
</form>